.footer {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 50px 0;
  font-weight: 600;
}

.footer__nav .footer__list {
  display: flex;
}

.footer__list .footer__list-item {
  margin-right: 20px;
  color: #003569;
}

.footer .footer__copyright {
  color: #999;
}
